Repository caracal-cloud/caracal-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,html,css,json}": ["prettier --write", "git add"],
  "*.js": ["eslint --fix", "git add"]
}

feat: add pagination for current accounts
  src/Modules/Inputs/Modules/AccountList/Hooks/useTable.js
  src/Modules/Inputs/Modules/CloudDrive/Api/index.js
  src/Modules/Inputs/Modules/CloudDrive/Hooks/useListDocs.js
  src/Modules/Inputs/Modules/CloudDrive/Machines/listDocsMachine.js
  src/Modules/Inputs/Modules/CloudDrive/index.js
  src/Modules/Inputs/Modules/Collars/Api/index.js
  src/Modules/Inputs/Modules/Collars/Hooks/useCollarsAccounts.js
  src/Modules/Inputs/Modules/Collars/Machines/collarsAccountsMachine.js
  src/Modules/Inputs/Modules/Collars/index.js
  src/Modules/Inputs/Modules/Radios/Api/index.js
  src/Modules/Inputs/Modules/Radios/Hooks/useRadiosSystems.js
  src/Modules/Inputs/Modules/Radios/Machines/addSystemMachine.js
  src/Modules/Inputs/Modules/Radios/Machines/radiosSystemsMachine.js
  src/Modules/Inputs/Modules/Radios/index.js
  src/Modules/Inputs/Modules/SystemList/Hooks/useTable.js
Due: eslint --fix

initial commit
  package.json
  src/Modules/Dashboard/index.js
  src/Modules/Inputs/Modules/AccountList/Components/IndividualForm/index.js
  src/Modules/Inputs/Modules/AccountList/Hooks/useIndividual.js
  src/Modules/Inputs/Modules/AccountList/Hooks/useTable.js
  src/Modules/Inputs/Modules/AccountList/index.js
  src/Modules/Inputs/Modules/CloudDrive/index.js
  src/Modules/Inputs/Modules/Collars/Hooks/useCollarsAccounts.js
  src/Modules/Inputs/Modules/Collars/Machines/collarsAccountsMachine.js
  src/Modules/Inputs/Modules/Collars/index.js
  src/Modules/Inputs/Modules/Radios/index.js
  src/Modules/Inputs/Modules/SystemList/Components/SystemForm.js
  src/Modules/Inputs/Modules/SystemList/index.js
  src/Modules/Outputs/Modules/ArcgisOnline/index.js
  src/Modules/Outputs/Modules/GoogleEarth/index.js
  src/Modules/Settings/Components/ProfileForm.js
  src/Modules/Sidebar/index.js
Due: prettier --write, eslint --fix

chore: update deps
  package.json
  yarn.lock
Due: prettier --write

fix: string validation when updating individual name
  src/Modules/Inputs/Modules/AccountList/Hooks/useIndividual.js
  yarn.lock
Due: eslint --fix

chore: don't show Sex symbol if not set
  src/Modules/Inputs/Modules/AccountList/Hooks/useTable.js
Due: eslint --fix

chore: remove store data on Caracal
  src/Modules/Inputs/Components/StorageCheckbox/index.js
Due: eslint --fix

feat: add view button in google sheets list
  src/Modules/Inputs/Modules/CloudDrive/index.js
Due: eslint --fix

chore: always prompt google auth
  src/Modules/Inputs/Modules/CloudDrive/Machines/addDriveMachine.js
  src/Modules/Inputs/Modules/CloudDrive/index.js
Due: eslint --fix

feat: only allow arcgis if connected
  src/Modules/Inputs/Components/StorageCheckbox/index.js
  src/Modules/Inputs/Components/StorageCheckbox/machines/storeCheckbox.js
Due: eslint --fix

chore: register screen input changes
  src/Components/Button/index.js
  src/Components/Button/styles.css
  src/Modules/Auth/Modules/Register/Hooks/useRegister.js
  src/Modules/Auth/Modules/Register/index.js
  src/Modules/Core/Components/Input/index.js
Due: prettier --write, eslint --fix

feat: redirect to app after sign up
  src/Modules/Auth/Modules/Register/Hooks/useRegister.js
  src/Modules/Auth/Modules/Register/Machines/registerMachine.js
  src/Modules/Auth/Modules/Register/index.js
Due: eslint --fix

fix: device id for collars
  src/Modules/Inputs/Modules/AccountList/Hooks/useIndividual.js
  src/Modules/Inputs/Modules/AccountList/Hooks/useTable.js
Due: eslint --fix

fix: timezones for add collars
  src/Modules/Core/Components/Select/index.js
  src/Modules/Inputs/Modules/Collars/Hooks/useAddOrbcomm.js
  src/Modules/Inputs/Modules/Collars/Machines/addOrbcommMachine.js
  src/Modules/Inputs/Modules/Collars/index.js
  src/Modules/Inputs/Modules/Collars/timezones.json
Due: prettier --write, eslint --fix

fix: individual edit title
  src/Modules/Inputs/Modules/AccountList/Hooks/useIndividual.js
Due: eslint --fix

fix: formik render prop warning
  src/Modules/Inputs/Components/EditAccountModal/index.js
  src/Modules/Inputs/Modules/Collars/index.js
  src/Modules/Inputs/Modules/Radios/index.js
Due: eslint --fix

fix: timezone form value
  src/Modules/Inputs/Modules/Collars/Hooks/useAddOrbcomm.js
  src/Modules/Inputs/Modules/Collars/Hooks/useAddSavannah.js
  src/Modules/Inputs/Modules/Collars/index.js
Due: eslint --fix

feat: add profile (#1)
  package.json
  src/Modules/Core/Components/Menu/index.js
  src/Modules/Core/Components/PopConfirm/index.js
  src/Modules/Core/Utils/handlers.js
  src/Modules/Core/index.js
  src/Modules/Inputs/Components/EditAccountModal/index.js
  src/Modules/Inputs/Modules/AccountList/Hooks/useIndividual.js
  src/Modules/Inputs/Modules/Collars/Hooks/useAddOrbcomm.js
  src/Modules/Inputs/Modules/Collars/Hooks/useAddSavannah.js
  src/Modules/Inputs/Modules/Collars/index.js
  src/Modules/Inputs/Modules/Radios/index.js
  src/Modules/Settings/Modules/Alerts/Api/index.js
  src/Modules/Settings/Modules/Alerts/Hooks/useAddModal.js
  src/Modules/Settings/Modules/Alerts/Hooks/useRecipients.js
  src/Modules/Settings/Modules/Alerts/index.js
  src/Modules/Settings/Modules/Alerts/styles.js
  src/Modules/Settings/Modules/Profile/Api/index.js
  src/Modules/Settings/Modules/Profile/Components/ProfileForm.js
  src/Modules/Settings/Modules/Profile/Hooks/useProfile.js
  src/Modules/Settings/Modules/Profile/Machines/profileMachine.js
  src/Modules/Settings/Modules/Profile/index.js
  src/Modules/Settings/index.js
  src/Modules/Settings/styles.js
  yarn.lock
Due: prettier --write, eslint --fix

fix: add some error handler
  src/Modules/Core/Utils/handlers.js
Due: eslint --fix

fix: button html type
  src/Modules/Auth/Modules/Register/index.js
Due: eslint --fix

fix: login after register
  src/Modules/Auth/Modules/Register/Machines/registerMachine.js
Due: eslint --fix

fix: current accounts box max height
  src/Modules/Inputs/Modules/Collars/index.js
Due: eslint --fix

feat: ask user form column indexes
  src/Modules/Inputs/Modules/CloudDrive/Components/SelectOptions/index.js
  src/Modules/Inputs/Modules/CloudDrive/Hooks/useAddDrive.js
Due: eslint --fix

feat: add check jackal enabled on sidebar
  package.json
  src/Modules/Auth/Api/index.js
  src/Modules/Sidebar/Components/SidebarLink/index.js
  src/Modules/Sidebar/Hooks/useInputsMenuItems.js
  src/Modules/Sidebar/index.js
  yarn.lock
Due: prettier --write, eslint --fix

chore: update husky
  .lintstagedrc
Due: none

feat: add jackal
  package.json
  src/Modules/Core/Components/Tabs/index.js
  src/Modules/Core/index.js
  src/Modules/Inputs/Components/EditAccountModal/index.js
  src/Modules/Inputs/Modules/CloudDrive/Api/index.js
  src/Modules/Inputs/Modules/Jackal/Api/index.js
  src/Modules/Inputs/Modules/Jackal/Components/PhoneModalForm/index.js
  src/Modules/Inputs/Modules/Jackal/Hooks/useAccount.js
  src/Modules/Inputs/Modules/Jackal/Hooks/usePhone.js
  src/Modules/Inputs/Modules/Jackal/Hooks/usePhoneList.js
  src/Modules/Inputs/Modules/Jackal/Hooks/useTable.js
  src/Modules/Inputs/Modules/Jackal/index.js
  src/Modules/Inputs/Modules/Phone/Api/index.js
  src/Modules/Inputs/Modules/Phone/Components/Calls/index.js
  src/Modules/Inputs/Modules/Phone/Components/Contacts/index.js
  src/Modules/Inputs/Modules/Phone/Components/Locations/index.js
  src/Modules/Inputs/Modules/Phone/Components/Texts/index.js
  src/Modules/Inputs/Modules/Phone/Hooks/usePhone.js
  src/Modules/Inputs/Modules/Phone/index.js
  src/Modules/Inputs/Modules/Phone/styles.js
  src/Modules/Inputs/index.js
  src/Modules/Sidebar/Hooks/useInputsMenuItems.js
  yarn.lock
Due: prettier --write, eslint --fix

fix: register countdown
  src/Modules/Auth/Modules/Register/Hooks/useRegister.js
Due: eslint --fix

fix: arcgis disabled input
  src/Modules/Inputs/Components/StorageCheckbox/machines/storeCheckbox.js
Due: eslint --fix

fix: endpoint for each phone resource
  src/Modules/Inputs/Modules/Jackal/Hooks/useTable.js
  src/Modules/Inputs/Modules/Phone/Api/index.js
  src/Modules/Inputs/Modules/Phone/Components/Calls/index.js
  src/Modules/Inputs/Modules/Phone/Components/Contacts/index.js
  src/Modules/Inputs/Modules/Phone/Components/Locations/index.js
  src/Modules/Inputs/Modules/Phone/Components/ResourceTable/index.js
  src/Modules/Inputs/Modules/Phone/Components/Texts/index.js
  src/Modules/Inputs/Modules/Phone/Hooks/usePhone.js
  src/Modules/Inputs/Modules/Phone/Machines/phoneResource.js
  src/Modules/Inputs/Modules/Phone/index.js
Due: eslint --fix

changed some labels and text formating
  src/Layouts/PublicLayout/styles.js
  src/Modules/Inputs/Modules/Jackal/Hooks/useTable.js
  src/Modules/Inputs/Modules/Jackal/index.js
  src/Modules/Inputs/Modules/Phone/index.js
  src/Modules/Inputs/Modules/RestApi/Api/index.js
  src/Modules/Inputs/Modules/RestApi/index.js
  src/Modules/Inputs/Modules/RestApi/timezones.json
  src/Modules/Inputs/index.js
  src/Modules/Outputs/Modules/ArcgisOnline/index.js
  src/Modules/Settings/Modules/Alerts/index.js
  src/Modules/Sidebar/Hooks/useInputsMenuItems.js
Due: prettier --write, eslint --fix

display changes
  src/Layouts/PublicLayout/styles.js
  src/Modules/Inputs/Modules/Jackal/Hooks/useTable.js
  src/Modules/Inputs/Modules/Jackal/index.js
  src/Modules/Inputs/Modules/Phone/index.js
  src/Modules/Inputs/index.js
  src/Modules/Outputs/Modules/ArcgisOnline/index.js
  src/Modules/Settings/Modules/Alerts/index.js
  src/Modules/Sidebar/Hooks/useInputsMenuItems.js
Due: eslint --fix

changed some formatting and parameters to getPhone
  src/Layouts/PublicLayout/styles.js
  src/Modules/Inputs/Modules/Jackal/Hooks/useTable.js
  src/Modules/Inputs/Modules/Jackal/index.js
  src/Modules/Inputs/Modules/Phone/Api/index.js
  src/Modules/Inputs/Modules/Phone/index.js
Due: eslint --fix

show REST API sidebar item, small text changes
  public/index.html
  src/Modules/Inputs/Modules/Jackal/index.js
  src/Modules/Inputs/Modules/Phone/index.js
  src/Modules/Inputs/Modules/RestApi/Api/index.js
  src/Modules/Inputs/Modules/RestApi/index.js
  src/Modules/Inputs/Modules/RestApi/timezones.json
  src/Modules/Inputs/index.js
  src/Modules/Outputs/Modules/ArcgisOnline/index.js
  src/Modules/Settings/Modules/Alerts/index.js
  src/Modules/Sidebar/Hooks/useInputsMenuItems.js
Due: prettier --write, eslint --fix

increase width and remove slice on kmz urls
  src/Modules/Dashboard/index.js
  src/Modules/Outputs/Modules/GoogleEarth/index.js
  yarn.lock
Due: eslint --fix

Update README.md
  README.md
Due: prettier --write

fixed react-query error when getting phone details (not sure why it works), fixed Sources breadcrumbs redirect to collars (still unsure why redirect exists)
  src/Modules/Inputs/Modules/AccountList/index.js
  src/Modules/Inputs/Modules/CloudDrive/index.js
  src/Modules/Inputs/Modules/Collars/index.js
  src/Modules/Inputs/Modules/Jackal/index.js
  src/Modules/Inputs/Modules/Phone/Hooks/usePhone.js
  src/Modules/Inputs/Modules/Phone/index.js
  src/Modules/Inputs/Modules/Radios/index.js
  src/Modules/Inputs/Modules/RestApi/index.js
  src/Modules/Inputs/Modules/SystemList/index.js
Due: eslint --fix

updated README
  README.md
Due: prettier --write
